name: Android Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Assemble Release
        run: ./gradlew :app:assembleRelease
